*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg
{
    background-color:
    #323133;
}

.navbar
{
    padding: 0;
}
@media(max-width:850px)
{

    .ul-bg
{
    background-color: #868585;
    padding-right: 0%;
}

}

